<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet.java</servlet-name>
        <servlet-class>NYCP_Servlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMotiveServlet</servlet-name>
        <servlet-class>NYCP_Servlet.getMotiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPrisonersServlet</servlet-name>
        <servlet-class>NYCP_Servlet.getPrisonersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createMotiveServlet</servlet-name>
        <servlet-class>NYCP_Servlet.createMotiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>incarcerateServlet</servlet-name>
        <servlet-class>NYCP_Servlet.incarcerateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeConvictionServlet</servlet-name>
        <servlet-class>NYCP_Servlet.takeConvictionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeFinalDischargeServlet</servlet-name>
        <servlet-class>NYCP_Servlet.takeFinalDischargeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeShortenedServlet</servlet-name>
        <servlet-class>NYCP_Servlet.takeShortenedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUnderRemandServlet</servlet-name>
        <servlet-class>NYCP_Servlet.getUnderRemandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet.java</servlet-name>
        <url-pattern>/Servlet.java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMotiveServlet</servlet-name>
        <url-pattern>/getMotiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPrisonersServlet</servlet-name>
        <url-pattern>/getPrisonersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createMotiveServlet</servlet-name>
        <url-pattern>/createMotiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>incarcerateServlet</servlet-name>
        <url-pattern>/incarcerateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeConvictionServlet</servlet-name>
        <url-pattern>/takeConvictionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeFinalDischargeServlet</servlet-name>
        <url-pattern>/takeFinalDischargeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeShortenedServlet</servlet-name>
        <url-pattern>/takeShortenedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUnderRemandServlet</servlet-name>
        <url-pattern>/getUnderRemandServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <display-name>index.jsp</display-name>
            <url-pattern>/index.jsp</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>incarcerate.jsp</display-name>
            <url-pattern>/incarcerate.jsp</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>afficherClient.jsp</display-name>
            <url-pattern>/afficherClient.jsp</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>createMotive.jsp</display-name>
            <url-pattern>/createMotive.jsp</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>takeConvictionDecision.jsp</display-name>
            <url-pattern>/takeConvictionDecision.jsp</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>takeFinalDischargeDecision.jsp</display-name>
            <url-pattern>/takeFinalDischargeDecision.jsp</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>takeShortenedDecision</display-name>
            <url-pattern>/takeShortenedDecision.jsp</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>underRemand</display-name>
            <url-pattern>/underRemand.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>
</web-app>
