
/* 
    Created on : 11 oct. 2014, 19:16:45
    Author     : Loïc  Irles
*/

/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 10pt verdana, helvetica, sans-serif;
    width: 760px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../images/Blue.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   /*background-color: antiquewhite;
   border: 2px solid blue;*/
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    /*font-weight: bold;*/
    color: antiquewhite;
    font-size: 20px;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    float: right; 
    width: 300px;
    margin: 3px 3px 0px 0px;
    border: 1px antiquewhite solid;
    background-color: antiquewhite;
}

::-webkit-input-placeholder {
   color: antiquewhite;
}

form input.sansLabel {
    margin-left: 300px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #c00;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #c00;
}

table#t02 tr:nth-child(even) {
    background-color: lightblue;
    text-align: center;
}

table#t02 tr:nth-child(odd) {
   background-color: lightskyblue;
   text-align: center;
}

table#t01 th{
    color: white;
    text-align: center;
}

table#home tr{
    text-align: center;
}

#en_tete
{
   width: 760px;
   height: 200px;
   /*background-image: url("../images/prison.png");*/
   background-repeat: no-repeat;
   margin-bottom: 10px;
}

#en_tete titre{
   font-family: Century Gothic;
   color: whitesmoke;
   text-align: center;
   font-size: 60px;
}